body {
  font-family: 'Inter', sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header.navbar {
  padding: 1rem;
  text-align: center;
  background: #121212;
}

header.navbar img {
  max-width: 200px;
}

main {
  flex: 1;
  padding: 1.5rem;
  text-align: center;
}


.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  border-bottom: 2px solid #51da08;
}

.tab-button {
  background-color: #121212;
  color: #FFFFFF;
  border: 1px solid #51da08;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.5rem;
  border-radius: 8px 8px 0 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-button.active {
  background-color: #51da08;
  color: #000000;
  font-weight: bold;
  border-bottom: none;
}


.tabs-content {
  border: 1px solid #51da08;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: #121212;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


.tab-content.active {
  display: block;
}

button, #deviceGridIntensityFilter, #downloadData {
  background-color: #51da08;
  color: #121212;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;     
  gap: 1rem;
}

#deviceGridIntensityFilter {
  max-width: 220px;
  margin: 1 auto 1 auto;
}


button:hover {
  background-color: #45a049;
}


.tracking-info p {
  margin: 0.5rem 0;
}

h1 {
  color: #51da08;
  font-size: 1.2rem;
}

h2, h3 {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0.5rem 0;
  text-align: left;
  font-size: 0.9rem;
}



.nested-tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #51da08;
}

.nested-tab-button {
  background-color: #121212;
  color: #FFFFFF;
  border: 1px solid #51da08;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.5rem;
  border-radius: 8px 8px 0 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nested-tab-button.active {
  background-color: #51da08;
  color: #000000;
}


.tab-content,
.nested-tab-content {
  display: none;
}

.tab-content.active,
.nested-tab-content.active {
  display: block;
}


.table-wrapper {
  display: flex;           
  justify-content: center; 
  overflow-x: auto;        
  margin: 1rem auto;          
  max-width: 100%;         
}

.table-wrapper table {
  border-collapse: collapse;
  width: auto;             
  margin: 0;               
  white-space: nowrap;    
}


th, td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #3A7D44;
  color: white;
}


table::-webkit-scrollbar {
  height: 8px;
}

table::-webkit-scrollbar-thumb {
  background: #51da08;
  border-radius: 4px;
}

table::-webkit-scrollbar-track {
  background: #121212;
}

#filterOptions {
  display: flex;
  flex-wrap: wrap;        
  justify-content: center; 
  align-items: center;     
  gap: 1rem;               
  margin: 1rem auto;
  max-width: 80%;         
}


#filterOptions > div,
#filterOptions > button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;       
}




footer {
  background-color: #121212;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  border-top: 2px solid #51da08;
  margin-top: auto; 
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer ul li a {
  color: #51da08;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer p {
  margin: 1rem 0 0;
  font-size: 0.8rem;
}

#license {
  font-size: 0.6rem;
}

#license a {
  color: #51da08;
  text-decoration: none;
}

#unaccountedDomainFilter,
#unaccountedTypeFilter,
#accountedDomainFilter,
#accountedTypeFilter {
  margin-left: 5%;
}

@media (max-width: 400px) {

  #filterOptions {
    flex-direction: column; 
    align-items: center;
  }

  table {
    font-size: 0.8rem;
  }

  th, td {
    padding: 4px;
  }

  .tabs {
    flex-direction: column;
  }

  .tab-button {
    margin: 0.5rem 0;
  }

  .nested-tabs {
    flex-direction: column;
  }

  .nested-tab-button {
    margin: 0.5rem 0;
  }

}
